@foreach (var user in Model.Users)
{
    <tr>
        <td>@user.Name</td>
        <td>@user.Email</td>
        <td>@user.LastLoginAt?.ToString("g")</td>   <!-- изменено -->
        <td>@user.RegisteredAt.ToString("g")</td>   <!-- изменено -->
        <td>
            @if(user.Status == 0)
            {
                <span>Inactive</span>
            }
            else if(user.Status == 1)
            {
                <span>Active</span>
            }
            else if(user.Status == 2)
            {
                <span>Banned</span>
            }
        </td>
    </tr>
}
